@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-void text-ivory antialiased;
  }

  ::selection {
    @apply bg-gold/30 text-ivory;
  }

  img,
  video {
    -webkit-user-drag: none;
    user-select: none;
    -webkit-touch-callout: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
